.title-matcha {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  letter-spacing: 10px;
  font-weight: lighter;
  padding-bottom: 1rem;
}

.gap {
  display: flex;
  width: auto;
  height: 5rem;
}

.center-btn {
  text-align: center;
}

.modal-text {
  text-align: right !important;
}
