$background: #1A1A1D;

$grey: #29292F;
$gray: #33343D;
$pink: #FF6D7F;
$white: #FAFAFD;

$text: #FAFAFD;
$card: #272746;
$border: #393C53;


$padding: 1.5rem;
$border-radius: .5rem;

@font-face {
    font-family: 'Archivo';
    src: url('/assets/archivo/Archivo-VariableFont_wdth,wght.ttf');
}

html {
	font-family: 'Archivo', sans-serif;
	background: $background;
	color: $text;
	font-size: 1.2rem;
}

h1 { font-size: 3rem; }

.hflex {
	display: flex;
	flex-direction: row;
}
.vflex {
	display: flex;
	flex-direction: column;
}

.nogap { gap: 0; }
.gap { gap: 1rem; }

.flex-justify-center { justify-content: center }
.flex-align-center { align-items: center }
.space-between { justify-content: space-between }
.grow { flex: 1 }
.text-center { text-align: center; }

.card {
	background: $card;
	padding: $padding;
	border-radius: $border-radius;
	border: 5px solid $border;
}

.button {
	cursor: pointer;
	text-align: center;
	padding: 1.2em 4em;
	font-weight: 700;
	background: $pink;
	border: 3px solid $pink;
	color: $background;
	border-radius: .5rem;
	transition: .4s;
}

.button:hover {
	transform: scale3d(1.05, 1.05, 1.05);
}

.button:focus-visible {
	box-shadow: 0 0 0 2px $background,
				0 0 0 3px $pink;
}